.f {
	color: #903bb9;
}

.u {
	color: #6ccd6d;
}

.n {
	color: #f87f8a;
}

.dot {
	color: #e87525;
}

.btn {
	background-color: #903bb9;
	color: white;
}

.btn:hover {
	background-color: #702f91;
	color: white;
}

.modalContent {
	display: none;
}
