* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}

/* navbar */

.fo {
	color: #903bb9;
}

.udies {
	color: #6ccd6d;
}

.dot {
	color: #e87525;
}

.start-btn {
	background-color: #903bb9;
	color: #fff;
}

/* Hero */

.fun-f {
	color: #903bb9;
}

.fun-u {
	color: #6ccd6d;
}

.fun-n {
	color: #f87f8a;
}

.hero-title {
	font-size: 52px;
}

.hero-image {
	max-width: 200px;
}

/*  Search button */

.form {
	margin-top: 2em;
}

.input-form {
	position: relative;
	justify-content: center;
}

.filters {
	max-width: 200px;
}

.filters p {
	cursor: pointer;
	color: #a6a6a6;
}

.fa-solid {
	position: absolute;
	top: 10%;
	right: 2%;
	padding: 0.5em;
	color: #a6a6a6;
	cursor: pointer;
}

.foods {
	margin-top: 2em;
	height: 100vh;
	max-width: 1250px;
}

/* foods */
.recipe_card {
	max-width: 300px;
	position: relative;
	height: 300px;
}

.recipe_image {
	object-fit: cover;
	max-width: 300px;
	height: 300px;
	border-radius: 10px;
}

.recipe_title {
	background-color: white;
	bottom: 0;
	right: 0%;
	font-size: 14px;
	height: 3em;
	position: absolute;
}

.recipe_container {
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}

.recipe_score {
	position: absolute;
	top: 0;
	background-color: #903bb9;
	padding: 0.5em;
	color: white;
}
